module "eks_karpenter" {
  source = "../../modules/eks_karpenter"

  cluster_name = module.eks.cluster_name

  # AWS GovCloud (US) does not currently support Pod Identity
  # https://docs.aws.amazon.com/eks/latest/userguide/pod-identities.htmpodl#pod-id-restrictions
  enable_pod_identity    = false
  enable_irsa            = true
  irsa_oidc_provider_arn = module.eks.oidc_provider_arn

  # Match Karpenter docs
  # https://karpenter.sh/docs/getting-started/migrating-from-cas/#create-iam-roles
  node_iam_role_name            = "KarpenterNodeRole-${module.eks.cluster_name}"
  node_iam_role_use_name_prefix = false

  iam_role_name              = "KarpenterControllerRole-${module.eks.cluster_name}"
  iam_role_use_name_prefix   = false
  iam_policy_name            = "KarpenterControllerPolicy"
  iam_policy_use_name_prefix = false

  # Used to attach additional IAM policies to the Karpenter node IAM role
  node_iam_role_additional_policies = {
    AmazonSSMManagedInstanceCore = "arn:${data.aws_partition.current.partition}:iam::aws:policy/AmazonSSMManagedInstanceCore"
  }
}
